/* components/pop-tip/pop-tip.wxss */
.pop-tip-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    .pop-tip-content {
        width: 510rpx;
        // height: 100rpx;
        background-color: #0c3c53;
        padding: 32rpx 44rpx;

        .pop-tip-content-title {
            display: flex;
            align-items: center;
            gap: 26rpx;
            font-size: 32rpx;

            > image {
                width: 42rpx;
            }
        }

        .pop-tip-content-text {
            font-size: 28rpx;
            color: #D3D3D3;
            margin-top: 20rpx;
        }

        .pop-tip-content-btn {
            display: flex;
            justify-content: flex-end;
            margin-top: 40rpx;
            gap: 30rpx;

            .pop-tip-content-btn-item {
                font-size: 24rpx;
                border: 1rpx solid #D3D3D3;
                padding: 8rpx 24rpx;
                color: #00E2D8;
                border-color: #00E2D8;

                &:first-child {
                    border-color: #D3D3D3;
                    color: #D3D3D3;
                }
            }
        }
    }
}
