/* components/tab-bar/tab-bar.wxss */
.tab-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: calc(146rpx - 44rpx);
    // box-sizing: border-box;
    background: linear-gradient(90deg, #0C1430 0%, #014B5E 100%);
    box-shadow: 0rpx -4rpx 6rpx 2rpx rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 22rpx 0;
    // padding-top: 22rpx;
    // padding-bottom: calc(env(safe-area-inset-bottom) + 22rpx);
    padding-bottom: max(22rpx, calc(env(safe-area-inset-bottom)));
    z-index: 9999;
    // border: 1px solid red;

    .tab-bar-item {
        display: flex;
        flex-direction: column;
        align-items: center;

        .tab-bar-item-icon-container {
            width: 70rpx;
            // width: calc(70rpx * 2);
            height: 70rpx;
            padding: 6rpx;
            box-sizing: border-box;

            .tab-bar-item-icon {
                width: 100%;
                height: 100%;
            }
        }

        .tab-bar-item-text {
            font-size: 20rpx;
            color: #ffffffd0;
        }
    }

    .tab-bar-item-safe-area {
        width: 100%;
        // background-color: aliceblue;
        height: env(safe-area-inset-bottom);
    }
}